h1{
  color: orange;
}
.photos{
  display: inline-flex;
  border: solid black 5px;
  border-radius: 5px;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
.photo-box{
  width:600px;
  height: 600px;
  background-color: darkgray;
  margin:5%;
  text-align: center;
}
.image{
  width:500px;
  height: 500px;
  margin: 5%;
  border: solid black 5px;
  border-radius: 5px;
  text-align: center;
}
.btn-box{
  display: inline-flex;
  justify-content: space-around;

}
.btn{
  height:50px;
 
}